In [24]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [25]:
df_test = pd.read_csv('test.csv')
df_train = pd.read_csv('train.csv')

In [26]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [27]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [28]:
print('Cantidad de datos:')
print(df_train.shape)
print(df_test.shape)

Cantidad de datos:
(891, 12)
(418, 11)

In [29]:
print('Cantidad de datos')
print(df_test.info())
print(df_train.info())

Cantidad de datos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [30]:
#verifico los datos faltantes de los dataset
print('datos flatantes: ')
print(pd.isnull(df_train).sum())
print(pd.isnull(df_test).sum())

datos flatantes:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [31]:
#verifico las estadisticas del dataset
print('Estadisticas del dataset: ')
print(df_train.describe())
print(df_test.describe())

Estadisticas del dataset:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

# Preprocesamiento de los datos

In [32]:
#cambio los datos de sexos en numeros

df_train['Sex']= df_train['Sex'].replace({"female":0})
df_train['Sex']= df_train['Sex'].replace({"male":1})
df_test['Sex'] = df_test['Sex'].replace({"male":1})
df_test['Sex'] = df_test['Sex'].replace({"female":0})

In [33]:
# cambio los datos de embarque en numeros

df_train['Embarked'].replace(['Q','S','C'],[0,1,2],inplace = True)
df_test['Embarked'].replace(['Q','S','C'],[0,1,2], inplace = True)

In [34]:
#reemplazo los datos faltantes en la edad por la media de esta columna
print(df_train['Age'].mean())
print(df_test['Age'].mean())
promedio = 30
df_train['Age']=df_train['Age'].replace(np.nan,promedio)
df_test['Age']=df_train['Age'].replace(np.nan,promedio)

29.69911764705882
30.272590361445783

In [35]:
# creo varios grupos de acuerdo a ciertas estratificaciones de edades
# estratificaciones: 0-8,9-15, 16-18,19-25, 26-40, 41-60,61-100

bins= [0,8,15,18,25,40,60,100]
names = ['1','2','3','4','5','6','7']
df_train['Age']= pd.cut(df_train['Age'],bins,labels = names)
df_test['Age']=pd.cut(df_test['Age'],bins,labels = names)

In [36]:
#Se elimina la columna de "Cabin" ya que tiene mucho datos perdidos
df_train.drop(['Cabin'], axis=1, inplace= True)
df_test.drop(['Cabin'],axis=1, inplace = True)

In [37]:
# Elimine las columnas que considero que no son necesarias para el analisis
df_train = df_train.drop(['PassengerId','Name','Ticket'],axis=1)
df_test = df_test.drop(['Name','Ticket'],axis = 1)

#Se elimina las filas con los datos perdidos
df_train.dropna(axis=0 ,how='any', inplace=True)
df_test.dropna(axis=0 ,how='any', inplace=True)

In [38]:
# Verificar los datos
print(pd.isnull(df_train).sum())
print(pd.isnull(df_test).sum())

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64
PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [39]:
print(df_train.shape)
print(df_test.shape)

(889, 8)
(417, 8)

In [40]:
print(df_train.head())
print(df_train.head())

   Survived  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0         0       3    1   4      1      0   7.2500       1.0
1         1       1    0   5      1      0  71.2833       2.0
2         1       3    0   5      0      0   7.9250       1.0
3         1       1    0   5      1      0  53.1000       1.0
4         0       3    1   5      0      0   8.0500       1.0
   Survived  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0         0       3    1   4      1      0   7.2500       1.0
1         1       1    0   5      1      0  71.2833       2.0
2         1       3    0   5      0      0   7.9250       1.0
3         1       1    0   5      1      0  53.1000       1.0
4         0       3    1   5      0      0   8.0500       1.0

# Aplicacion de algoritmos de Machine Learning

In [41]:
# Separo la columna con la informaciÃ³n de los sobrevivientes
X = np.array(df_train.drop(['Survived'],1))
y = np.array(df_train['Survived'])

In [42]:
#Separo los datos de "train" en entrenamiento y prueba para probar los algoritmos
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [43]:
# Regresion logistica
logreg = LogisticRegression()
logreg.fit(X_train,y_train)
Y_pred = logreg.predict(X_test)
print('Precision Regresion Logistica: ')
print(logreg.score(X_train,y_train))

Precision Regresion Logistica:
0.7946554149085795

In [44]:
# Support Vector Machines
svc=SVC()
svc.fit(X_train,y_train)
Y_pred= svc.predict(X_test)
print('Precision Soporte de Vectores: ')
print(svc.score(X_train,y_train))

Precision Soporte de Vectores:
0.6736990154711674

In [45]:
#Kneighbors
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train,y_train)
Y_pred = knn.predict(X_test)
print('Precision vecinos mas cercanos: ')
print(knn.score(X_train,y_train))

Precision vecinos mas cercanos:
0.8593530239099859

# PredicciÃ³n utilizando los modelos

In [49]:
ids = df_test['PassengerId']

#RegresiÃ³n Logistica
prediccion_logreg = logreg.predict(df_test.drop('PassengerId', axis=1))
out_logreg = pd.DataFrame({'PassengerId' : ids, 'Survived': prediccion_logreg})
print('Prediccion Regresion Logistica: ')
print(out_logreg)

Prediccion Regresion Logistica:
     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[417 rows x 2 columns]

In [48]:
#Support Vector Machines
prediccion_svc = svc.predict(df_test.drop('PassengerId', axis=1))
out_svc = pd.DataFrame({'PassengerId' : ids, 'Survived': prediccion_svc})
print('Prediccion Soporte de Vectores: ')
print(out_svc)

Prediccion Soporte de Vectores:
     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[417 rows x 2 columns]

In [50]:
# K - neighbors
prediccion_knn = knn.predict(df_test.drop('PassengerId',axis=1))
out_knn = pd.DataFrame({'PassengerId' :ids, 'Survived': prediccion_knn })
print('Prediccion Vecinos mas Cercanos: ')
print(out_knn)

Prediccion Vecinos mas Cercanos:
     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[417 rows x 2 columns]

In [52]:
sample_submission = pd.read_csv('gender_submission.csv')

output = pd.DataFrame({'PassengerId': ids,
'Survived': prediccion_svc})
output.to_csv('submission.csv', index=False)